In [73]:
import pandas as pd

df={
    'name':["column1","Krishna","Vardhan"],
    'age':["column2","20","20"]
}
print(pd.DataFrame(df))

      name      age
0  column1  column2
1  Krishna       20
2  Vardhan       20

In [74]:
import pandas as pd
fd=pd.read_csv('transactions.csv')
print(fd.head(5))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [75]:
import pandas as pd
fd=pd.read_csv('transactions.csv')
print(fd.tail(5))

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [76]:
import pandas as pd
fd=pd.read_csv('transactions.csv')
print(fd.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 528.0+ bytes
None

In [77]:
import pandas as pd
fd=pd.read_csv('transactions.csv')
print(fd.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [78]:
import pandas as pd
fd=pd.read_csv('transactions.csv')
print(fd['UserID'])

0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: UserID, dtype: float64

In [79]:
import pandas as pd
fd=pd.read_csv('transactions.csv')
print(fd['ProductID'])

0    2
1    4
2    3
3    2
4    4
5    5
6    4
7    2
8    4
9    4
Name: ProductID, dtype: int64

In [80]:
import pandas as pd
fd=pd.read_csv('transactions.csv')
print(fd['ProductID']>4)

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
Name: ProductID, dtype: bool

In [81]:
import pandas as pd
fd=pd.read_csv('transactions.csv')
print(fd[fd['ProductID']>3])

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [82]:
import pandas as pd
fd=pd.read_csv('transactions.csv')
print(fd[['ProductID','UserID']])

   ProductID  UserID
0          2     7.0
1          4     3.0
2          3     3.0
3          2     1.0
4          4     2.0
5          5     2.0
6          4     3.0
7          2     NaN
8          4     7.0
9          4     3.0

In [83]:
import pandas as pd
fd=pd.read_csv('transactions.csv')
print(fd.iloc[3])

TransactionID               4
TransactionDate    2012-08-26
UserID                    1.0
ProductID                   2
Quantity                    3
Name: 3, dtype: object

In [84]:
import pandas as pd 
fd=pd.read_csv('transactions.csv')
fd.rename(columns={'ProductID':'prductid'},inplace=True)
print(fd.head())

   TransactionID TransactionDate  UserID  prductid  Quantity
0              1      2010-08-21     7.0         2         1
1              2      2011-05-26     3.0         4         1
2              3      2011-06-16     3.0         3         1
3              4      2012-08-26     1.0         2         3
4              5      2013-06-06     2.0         4         1

In [85]:
import pandas as pd
df=pd.read_csv('transactions.csv')
print(df.isnull().sum())

TransactionID      0
TransactionDate    0
UserID             1
ProductID          0
Quantity           0
dtype: int64

In [86]:
import pandas as pd
df=pd.read_csv('transactions.csv')
print(df['UserID'].mean())

3.4444444444444446

In [87]:
import pandas as pd
df=pd.read_csv('transactions.csv')
print(df['UserID'].fillna(df['UserID'].mean(),inplace=True))

None

In [88]:
import pandas as pd
df=pd.read_csv('transactions.csv')
print(df.sort_values(by=['UserID'],ascending=[True]))

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
6              7      2013-12-30     3.0          4         1
9             10      2016-05-08     3.0          4         4
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3

In [89]:
import pandas as pd
df=pd.read_csv('transactions.csv')
print(df.iloc[[1,2,5]])

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6

In [90]:
import pandas as pd
df=pd.read_csv('transactions.csv')
df['foo']=df['UserID']+df['Quantity']
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity   foo
0              1      2010-08-21     7.0          2         1   8.0
1              2      2011-05-26     3.0          4         1   4.0
2              3      2011-06-16     3.0          3         1   4.0
3              4      2012-08-26     1.0          2         3   4.0
4              5      2013-06-06     2.0          4         1   3.0
5              6      2013-12-23     2.0          5         6   8.0
6              7      2013-12-30     3.0          4         1   4.0
7              8      2014-04-24     NaN          2         3   NaN
8              9      2015-04-24     7.0          4         3  10.0
9             10      2016-05-08     3.0          4         4   7.0

In [91]:
import pandas as pd
df=pd.read_csv('transactions.csv')
df.loc[df['UserID']==2.0,'Quantity']=4

In [92]:
import pandas as pd
data = [10, 20, 30, 40]
v = pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [93]:
# 2. Print Numbers of Attributes


import pandas as pd
df=pd.read_csv('transactions.csv')

print(df.shape[1])

5

In [94]:
# 3.Print Numbers of Records

import pandas as pd
df=pd.read_csv('transactions.csv')

print(df.shape[0])

10

In [95]:
# 4. Get the row names

In [96]:
# 5. Get the column names
import pandas as pd
df=pd.read_csv('transactions.csv')
print(list(df))

['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [97]:
# 6. View top 10 Records
import pandas as pd
df=pd.read_csv('transactions.csv')
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [98]:
# 7.Change the name of column “ Quantity” to “Quant”


# 6. View top 10 Records
import pandas as pd
df=pd.read_csv('transactions.csv')
df.rename(columns={'Quantity':'Quant'},inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [99]:
# 8.Change the name of columns ProductID and UserID
import pandas as pd
df=pd.read_csv('transactions.csv')
df.rename(columns={'ProductID':'PID',
                  'UserID':'UID'},inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1
5              6      2013-12-23  2.0    5         6
6              7      2013-12-30  3.0    4         1
7              8      2014-04-24  NaN    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

In [100]:
# 9. Order the rows of transactions by TransactionId
import pandas as pd
df=pd.read_csv('transactions.csv')
df.sort_values(by=['TransactionID'], ascending=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [101]:
#10. Order the rows of transactions by Quantity
# ascending, TransactionDate descending
import pandas as pd 
df=pd.read_csv('transactions.csv')
df.sort_values(by=["TransactionDate","Quantity"],ascending=[False,True])

   TransactionID TransactionDate  UserID  ProductID  Quantity
9             10      2016-05-08     3.0          4         4
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
6              7      2013-12-30     3.0          4         1
5              6      2013-12-23     2.0          5         6
4              5      2013-06-06     2.0          4         1
3              4      2012-08-26     1.0          2         3
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1

In [102]:
# 11. Set the column order of Transactions as ProductID,
# Quantity, TransactionDate, TransactionID, UserID

import pandas as pd 
df=pd.read_csv('transactions.csv')
df=df[["ProductID","Quantity","TransactionDate","TransactionID","UserID"]]
print(df)

   ProductID  Quantity TransactionDate  TransactionID  UserID
0          2         1      2010-08-21              1     7.0
1          4         1      2011-05-26              2     3.0
2          3         1      2011-06-16              3     3.0
3          2         3      2012-08-26              4     1.0
4          4         1      2013-06-06              5     2.0
5          5         6      2013-12-23              6     2.0
6          4         1      2013-12-30              7     3.0
7          2         3      2014-04-24              8     NaN
8          4         3      2015-04-24              9     7.0
9          4         4      2016-05-08             10     3.0

In [103]:
# df[["UserID", "ProductID", "Quantity", "TransactionDate", "TransactionID"]]
# 12. Make UserID the first column of transactions

df = df[["UserID", "ProductID", "Quantity", "TransactionDate", "TransactionID"]]
df

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
1     3.0          4         1      2011-05-26              2
2     3.0          3         1      2011-06-16              3
3     1.0          2         3      2012-08-26              4
4     2.0          4         1      2013-06-06              5
5     2.0          5         6      2013-12-23              6
6     3.0          4         1      2013-12-30              7
7     NaN          2         3      2014-04-24              8
8     7.0          4         3      2015-04-24              9
9     3.0          4         4      2016-05-08             10

In [104]:
# 13 Extracting arrays from a Data Frame. Get the 2nd
# column

import pandas as pd 
# df=pd.read_csv('transactions.csv')
sec=df.iloc[:,2]
print(sec)

0    1
1    1
2    1
3    3
4    1
5    6
6    1
7    3
8    3
9    4
Name: Quantity, dtype: int64

In [105]:
# 15. Get the ProductID Array

import pandas as pd 
# df=pd.read_csv('transactions.csv')
val=df["ProductID"].values;
print(val)

[2 4 3 2 4 5 4 2 4 4]

In [106]:
# 16.Row subsetting, subset rows 1,3 and 6

# subset_df = df.iloc[[1, 3, 6],[2,3]]
subset_df = df.iloc[[1, 3, 6]]
print(subset_df)

   UserID  ProductID  Quantity TransactionDate  TransactionID
1     3.0          4         1      2011-05-26              2
3     1.0          2         3      2012-08-26              4
6     3.0          4         1      2013-12-30              7

In [107]:
# 17. subset rows excluding 1,3 and 6

subset=df.drop(index=[1,3,6])
print(subset)

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
2     3.0          3         1      2011-06-16              3
4     2.0          4         1      2013-06-06              5
5     2.0          5         6      2013-12-23              6
7     NaN          2         3      2014-04-24              8
8     7.0          4         3      2015-04-24              9
9     3.0          4         4      2016-05-08             10

In [108]:
# 18.Subset the first three rows
subset2=df.head(3)
print(subset2)

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
1     3.0          4         1      2011-05-26              2
2     3.0          3         1      2011-06-16              3

In [109]:
# 22. Subset rows where Quantity>1
sub4=df[df["Quantity"]>1]
print(sub4)

   UserID  ProductID  Quantity TransactionDate  TransactionID
3     1.0          2         3      2012-08-26              4
5     2.0          5         6      2013-12-23              6
7     NaN          2         3      2014-04-24              8
8     7.0          4         3      2015-04-24              9
9     3.0          4         4      2016-05-08             10

In [110]:
# 20. Subset rows excluding the last 2 rows

sub5= df.iloc[:-2]
print(sub5)

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
1     3.0          4         1      2011-05-26              2
2     3.0          3         1      2011-06-16              3
3     1.0          2         3      2012-08-26              4
4     2.0          4         1      2013-06-06              5
5     2.0          5         6      2013-12-23              6
6     3.0          4         1      2013-12-30              7
7     NaN          2         3      2014-04-24              8

In [111]:
# 21. Subset rows excluding the first 3 rows
subset_df3 = df.iloc[3:]
print(subset_df3)

   UserID  ProductID  Quantity TransactionDate  TransactionID
3     1.0          2         3      2012-08-26              4
4     2.0          4         1      2013-06-06              5
5     2.0          5         6      2013-12-23              6
6     3.0          4         1      2013-12-30              7
7     NaN          2         3      2014-04-24              8
8     7.0          4         3      2015-04-24              9
9     3.0          4         4      2016-05-08             10

In [112]:
# 19. Subset the last 2 rows
sub3=df.tail(3)
print(sub3)

   UserID  ProductID  Quantity TransactionDate  TransactionID
7     NaN          2         3      2014-04-24              8
8     7.0          4         3      2015-04-24              9
9     3.0          4         4      2016-05-08             10

In [113]:
subr=df[df["UserID"]==2]
print(subr)

   UserID  ProductID  Quantity TransactionDate  TransactionID
4     2.0          4         1      2013-06-06              5
5     2.0          5         6      2013-12-23              6

In [114]:
# 24. Subset rows where Quantity>1 and UserID=2

subf=df[(df["UserID"]==2) & (df["Quantity"]>1)]
print(subf)

   UserID  ProductID  Quantity TransactionDate  TransactionID
5     2.0          5         6      2013-12-23              6

In [133]:
# 25. Subset rows where Quantity + UserID is >3
subf=df[df["UserID"]+df["Quantity"]>6]
print(subf)

   UserID  ProductID  Quantity TransactionDate  TransactionID   Foo  UseCase
0     7.0          2         1      2010-08-21              1   9.0      0.0
5     2.0          5         6      2013-12-23              6   7.0    -10.0
8     7.0          4         3      2015-04-24              9  11.0    -14.0
9     3.0          4         4      2016-05-08             10   7.0     -9.0

In [116]:
# 26. Subset rows where an external array, foo, is True
foo = [True,True, False, True, False, True,True,False,True,False]
# print(df[foo])
# length = len(df)
# foo_true=[True]*length
# print(df[df[i] for i in range(len(foo) if i==true)])
# foo = [True, True, False, True, False, True, True, False, True, False]

# Make sure the length of foo matches the number of rows in df
print(df[foo])

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
1     3.0          4         1      2011-05-26              2
3     1.0          2         3      2012-08-26              4
5     2.0          5         6      2013-12-23              6
6     3.0          4         1      2013-12-30              7
8     7.0          4         3      2015-04-24              9

In [140]:
# 27. Subset rows where an external array, bar, is positive
bar = [1, -1, 3, 0, 2, 4, -1, -3, 2, 5]  # Only positive values (1, 3, 2) will be considered

# Subset rows where `bar` is positive
# subset_df=df[[True if x > 0 else False for x in bar]]
# subset_df=df[[True if x > 0 else False for x in bar]]

# print(subset_df)

KeyError: "None of [Index([3], dtype='int64')] are in the [columns]"

In [118]:
# 28. Subset rows where foo is TRUE or bar is negative
# import pandas as pd
# foo = [True,True, False, True, False, True,True,False,True,False]
# # Assuming your DataFrame is named df
# df_subset = df[(df[ foo] | df[[True if x < 0 else False for x in bar]])] 
# print(df_subset)

print(df[(foo)|(df['ProductID']>4)])

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
1     3.0          4         1      2011-05-26              2
3     1.0          2         3      2012-08-26              4
5     2.0          5         6      2013-12-23              6
6     3.0          4         1      2013-12-30              7
8     7.0          4         3      2015-04-24              9

In [119]:
# 30 Subset by columns 1 and 3
df_subset = df.iloc[:, [0, 2]]
print(df_subset)

   UserID  Quantity
0     7.0         1
1     3.0         1
2     3.0         1
3     1.0         3
4     2.0         1
5     2.0         6
6     3.0         1
7     NaN         3
8     7.0         3
9     3.0         4

In [120]:
# 31. Subset by columns TransactionID and
# TransactionDate
df_subset = df[['TransactionID', 'TransactionDate']]
print(df_subset)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [121]:
# 32. Subset by columns TransactionID and
# TransactionDate with logical operator
df_subset = df[(df['TransactionID'] > 1000) & (df['TransactionDate'] > '2025-01-01')][['TransactionID', 'TransactionDate']]
print(df_subset)

Empty DataFrame
Columns: [TransactionID, TransactionDate]
Index: []

In [122]:


# 33.Subset columns by a variable list of column namescolumns_to_select = ['TransactionID', 'TransactionDate']

columns_to_select = ['TransactionID', 'TransactionDate']
df_subset = df[columns_to_select]
print(df_subset)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [142]:
# 34. Subset columns excluding a variable list of column
# names
columns_to_exclude = ['TransactionID', 'TransactionDate']
df_subset = df.drop(columns=columns_to_exclude)
print(df_subset)

   UserID  ProductID  Quantity   Foo  UseCase
0     7.0          2         1   9.0      0.0
1     3.0          4         1   7.0      0.0
2     3.0          3         1   6.0      0.0
3     1.0          2         3   3.0     -2.0
4     2.0          4         1   6.0      0.0
5     2.0          5         6   7.0    -10.0
6     3.0          4         1   7.0      0.0
7     NaN          2         3   NaN      NaN
8     7.0          4         3  11.0    -14.0
9     3.0          4         4   7.0     -9.0

In [124]:
# 37. Insert a new column, Foo=UserID+ProductID

# Create the 'Foo' column by adding UserID and ProductID
df['Foo'] = df['UserID'] + df['ProductID']

print(df)

   UserID  ProductID  Quantity TransactionDate  TransactionID   Foo
0     7.0          2         1      2010-08-21              1   9.0
1     3.0          4         1      2011-05-26              2   7.0
2     3.0          3         1      2011-06-16              3   6.0
3     1.0          2         3      2012-08-26              4   3.0
4     2.0          4         1      2013-06-06              5   6.0
5     2.0          5         6      2013-12-23              6   7.0
6     3.0          4         1      2013-12-30              7   7.0
7     NaN          2         3      2014-04-24              8   NaN
8     7.0          4         3      2015-04-24              9  11.0
9     3.0          4         4      2016-05-08             10   7.0

In [125]:

# 36. Convert the TransactionDate column to type Date
# df['Foo'] = df['UserID'].astype(str)
print(df.dtypes)
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

UserID             float64
ProductID            int64
Quantity             int64
TransactionDate     object
TransactionID        int64
Foo                float64
dtype: object
UserID                    float64
ProductID                   int64
Quantity                    int64
TransactionDate    datetime64[ns]
TransactionID               int64
Foo                       float64
dtype: object

In [143]:
# 35. Inserting and updating values

df['UseCase'] = df['UserID'] * (1 - df['Quantity'])
print(df)

   UserID  ProductID  Quantity TransactionDate  TransactionID   Foo  UseCase
0     7.0          2         1      2010-08-21              1   9.0      0.0
1     3.0          4         1      2011-05-26              2   7.0      0.0
2     3.0          3         1      2011-06-16              3   6.0      0.0
3     1.0          2         3      2012-08-26              4   3.0     -2.0
4     2.0          4         1      2013-06-06              5   6.0      0.0
5     2.0          5         6      2013-12-23              6   7.0    -10.0
6     3.0          4         1      2013-12-30              7   7.0      0.0
7     NaN          2         3      2014-04-24              8   NaN      NaN
8     7.0          4         3      2015-04-24              9  11.0    -14.0
9     3.0          4         4      2016-05-08             10   7.0     -9.0

In [144]:
subset_df = df.iloc[:, [1, 3]]
print(subset_df)

   ProductID TransactionDate
0          2      2010-08-21
1          4      2011-05-26
2          3      2011-06-16
3          2      2012-08-26
4          4      2013-06-06
5          5      2013-12-23
6          4      2013-12-30
7          2      2014-04-24
8          4      2015-04-24
9          4      2016-05-08